<div class="footer" fxLayout="row" fxLayoutAlign="space-between start">
  <div fxLayout="column" fxLayoutGap="10px">
    <p class="footer-text">
      Contact Details
    </p>
    <div fxLayout="column" fxLayoutGap="-10px">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <img class="contact-icon" src="../../../assets/images/contact.svg">
        <p class=contact-text>+91-9876543210</p>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <img class="contact-icon" src="../../../assets/images/email.svg">
        <p class="contact-text">healthcare-support@gmail.com</p>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="10px">
    <p class="footer-text">
      Connect with us on
    </p>
    <div fxLayout="row" fxLayoutGap="10px">
      <img class="social-media-icon" src="../../../assets/images/facebook.svg">
      <img class="social-media-icon" src="../../../assets/images/linkedin.svg">
      <img class="social-media-icon" src="../../../assets/images/google-plus.svg">
      <img class="social-media-icon" src="../../../assets/images/instagram.svg">
      <img class="social-media-icon" src="../../../assets/images/twitter.svg">
    </div>
  </div>
</div>
<div class="copyright">
  <p class="copyright-text">
    Copyright @2019 Harshit Agrawal, Healthcare, Inc. All rights reserved. Terms of use. Privacy Policy
  </p>
</div>